<div class="container col-8 align-self-center border mt-3 bg-light p-3">
    
    <div class="mb-3">
        <div>
            <h3>Bienvenido/a: <span id="completeName"><%= completeName %></span></h3>
        </div>
        <div>
            <h3>Email: <span id="email"><%= email %></span></h3>
        </div>
        <div>
            <button id="logoutButton"> Logout</button>
        </div>
    </div>
    
</div>


<!-- <div>
    <h3>Edad: <span id="age"><%#= age %></span></h3>
</div> -->
<!-- <div>
    <h3>Nombre Completo: <span id="completeName"><%#= completeName %></span></h3>
</div> -->
