<div class="container border col-6 mt-3 p-3">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Titulo:</th>
                    <th class="text-center" scope="col">Precio:</th>
                    <th class="text-center" scope="col">Miniatura:</th>
                </tr>
            </thead>
            <tbody id="productsMockList">
            </tbody>
        </table>
    </div>
</div>